---
interface Props {
    text: string;
    color: string;
}

const { text, color } = Astro.props;
---

<button
    class=`m-2 px-6 py-3 rounded-lg text-2xl transition duration-400 ${color}`
>
    {text}
</button>
